/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  color: #2a2a2a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

.programm-hidden {
  position: absolute;
  transform: scale(0);
}

/* -------- END -------- */

/* BUTTONS */

.btn-show {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: flex-start;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4273d9;
  opacity: 0.8;
  cursor: pointer;
}

.btn-show::after {
  content: '';
  display: inline-block;
  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('../images/icons/icon_arrow-blue.svg');
  background-size: 14px;
}

.arrow-up::after {
  transform: rotate(270deg);
}

.btn-show__programm {
  display: block;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('../images/icons/icon_arrow-black.svg');
  background-size: 18px;
  cursor: pointer;
}

.btn-show__programm.up {
  background-image: url('../images/icons/icon_arrow-blue-up.svg');
  background-size: 18px;
}

/* -------- END -------- */

/* INPUTS */

.input__phone {
  width: 300px;
  height: 39px;
  display: flex;
  padding: 0px 0px 12px 0px;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgba(65, 65, 65, 0.1);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2a2a2a;
  opacity: 0.8;
  background: #fff url('../images/icons/icon_arrow-gray.svg') no-repeat 18px
    center;
  background-position: right;
  background-origin: content-box;
  cursor: pointer;
}

.input__popup {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  border: none;
  border: 1px solid rgba(65, 65, 65, 0.1);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2a2a2a;
  cursor: pointer;
}

.textarea__popup {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  border: none;
  border: 1px solid rgba(65, 65, 65, 0.1);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2a2a2a;
  cursor: pointer;
  resize: none;
}

.input__phone::placeholder,
.input__popup::placeholder,
.textarea__popup::placeholder {
  color: #2a2a2a;
  opacity: 0.2;
}

.input__popup:focus,
.textarea__popup:focus {
  outline: none;
}

.input__phone:focus,
.input__city:focus {
  outline: none;
  background: #fff url('../images/icons/icon_arrow-black.svg') no-repeat 18px
    center;
  background-position: right;
  background-origin: content-box;
}

.input__city {
  background: #fff url('../images/icons/icon_arrow-gray.svg') no-repeat 18px
    center;
  background-position: right;
  background-origin: content-box;
}

/* -------- END -------- */

/* BASIC */

.title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  text-transform: uppercase;
}

.title span {
  font-style: italic;
  color: #4273d9;
}

@media (max-width: 564px) {
  .title {
    font-size: 24px;
    line-height: 36px;
  }
}

/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    margin: 0 40px;
  }
}

@media (max-width: 325px) {
  .container {
    max-width: 100%;
    margin: 0 10px;
  }
}

/* -------- END -------- */

/* SLIDER BASE STYLES*/

.swiper {
  width: 100%;
  height: 100%;
}

.slider__wrapper {
  position: relative;
}

.swiper-pagination {
  max-width: 100%;
  margin: 0 auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}

.swiper-wrapper {
  align-items: center;
  gap: 30px;
}

.swiper-slide {
  width: 250px !important;
  height: 284px !important;
}

.swiper-slide-active {
  width: 460px !important;
  height: 358px !important;
}

.swiper-slide-active .preview__inner {
  transform: scale(1);
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 10rem !important;
  }

  .swiper-wrapper {
    gap: 40px;
  }

  .swiper-slide-active,
  .swiper-slide-active .preview__img {
    width: 460px !important;
    height: 358px !important;
  }
}

@media (max-width: 740px) {
  .swiper-slide-active,
  .swiper-slide-active .preview__img {
    width: fit-content !important;
  }

  .swiper-slide {
    width: fit-content !important;
  }

  .swiper-wrapper {
    gap: 0px;
  }
}

/* -------- END -------- */

/* ACCORDEON */

.accordeon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordeon__list li {
  list-style: inside;
  padding: 12px 20px;
}

.accordeon__li {
  position: relative;
  border-radius: 3px;
}

.accordeon__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon__btn {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10.5px 20px;
  font-size: 32px;
  cursor: pointer;
}

.accordeon__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  background-image: url('../images/icons/arrow-down.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn::after {
  transform: rotate(180deg);
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn {
  color: blue;
}

.accordeon__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

.accordeon-2__li {
  position: relative;
  border-bottom: 1px solid rgba(4, 43, 70, 0.2);
}

.accordeon-2__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon-2__btn {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10.5px 20px 10.5px 30px;
  font-size: 24px;
  cursor: pointer;
}

.accordeon-2__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  background-image: url('../images/icons/plus.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn::after {
  transform: rotate(180deg);
  background-image: url('../images/icons/minus.svg');
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn {
  color: #2a2a2a;
}

.accordeon-2__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .accordeon__btn {
    font-size: 24px;
  }

  .accordeon-2__btn {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .accordeon__btn {
    font-size: 17px;
    padding: 9px 60px 9px 20px;
  }

  .accordeon-2__btn {
    font-size: 13px;
    padding: 9px 60px 9px 30px;
  }

  .accordeon__list li {
    font-size: 13px;
  }
}

/* -------- END -------- */

/* POPUP */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 620px;
  width: 100%;
  padding: 60px 37.5px 61px 36.5px;
  text-align: center;
  background-color: #fff;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__icon {
  margin-top: 40px;
}

.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  background: url('../images/icons/icon_close.svg') center/32px no-repeat;
  transition: all 0.3s ease-in-out;
}

.popup__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}

.popup__title span {
  font-style: italic;
}

.popup__subtitle {
  max-width: 413px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.popup__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.popup__form .input__phone {
  width: 100%;
}

.popup__form .feedback__container-checkbox {
  align-items: center;
  margin-top: 16px;
}

.popup__form .feedback__container-checkbox span {
  text-align: left;
}

#popup-question .feedback__container-checkbox a,
.feedback__container-checkbox a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
}

.popup__form .popup__button {
  max-width: 100%;
  display: initial;
  margin-top: 32px;
  text-align: center;
}

.popup__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#popup-calc .popup__content {
  height: auto;
  padding: 48px 15px;
}

#popup-calc .popup__wrapper {
  max-width: 459px;
  width: 100%;
}

#popup-calc .popup__wrapper-text {
  align-items: flex-start;
}

#popup-calc .feedback__container-checkbox {
  max-width: 100%;
  margin-top: 20px;
  align-items: flex-start;
}

#popup-calc .feedback__container-checkbox a {
  font-weight: 600;
  text-decoration: underline;
}

#popup-calc .popup__button {
  padding: 16px 50px;
}

@media (max-width: 540px) {
  .popup__content {
    max-width: 327px;
    padding: 60px 16px 62px 16px;
  }

  .popup__form {
    margin-top: 60px;
  }

  .popup__title {
    font-size: 24px;
    line-height: 36px;
  }

  .popup__subtitle {
    max-width: 267px;
  }

  .popup__inputs {
    gap: 8px;
    margin: 20px 0px 12px 0px;
  }

  #popup-correct .popup__content {
    height: 421px;
  }

  #popup-correct .popup__title {
    max-width: 290px;
  }

  .popup__icon {
    width: 104px;
    margin-top: 40px;
  }

  .popup__form-inputs input {
    font-size: 12px;
    line-height: 16px;
  }

  #popup-calc .popup__content {
    max-width: 295px;
    width: 100%;
  }

  #popup-calc .popup__form {
    margin-top: 24px;
  }

  #popup-calc .popup__button {
    margin-top: 24px;
  }
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  height: 742px;
  z-index: 100;
}

.header-mobile__container {
  display: none;
}

.header__background {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.header__background img {
  height: 100%;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__container .header__nav:nth-child(1) .header__menu {
  justify-content: flex-start;
}

.header__container .header__nav:nth-child(3) .header__menu {
  justify-content: flex-end;
}

.header__container
  .header__nav:nth-child(1)
  .header__menu
  .menu__item:nth-child(3)
  .menu__link,
.header__container
  .header__nav:nth-child(3)
  .header__menu
  .menu__item:nth-child(3)
  .menu__link {
  font-size: 20px;
  line-height: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}

.header__logo {
  max-width: 351px;
  width: 100%;
  height: 82px;
}

.header__logo img {
  height: 100%;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-top: 24px;
}

.header__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 132px;
  line-height: 155px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.header__title span {
  font-style: italic;
}

.header__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.header__subtitle span {
  font-style: italic;
  font-weight: 600;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 24px;
}

.menu__burger {
  display: none;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .header__container {
    display: none;
  }

  .header-adaptive__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateX(110%);
    transition: transform 0.5s;
    z-index: 2;
    background: #fff;
  }

  .header__menu {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0;
  }

  .header-mobile__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
  }

  .header-mobile__container .header-adaptive__menu {
    overflow: auto;
  }

  .header-mobile__container .header__nav-top {
    display: flex;
    align-items: center;
    padding: 16px 0px;
    margin: 0px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header-mobile__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 40px;
    padding: 40px 0px;
    gap: 32px;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 3;
  }

  .menu__burger:before {
    content: '';
    background-color: #d2f6ff;
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: #d2f6ff;
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: #d2f6ff;
    position: absolute;
    width: 38px;
    height: 3px;
    top: 11px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 13px;
    background-color: #000548;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #000548;
  }

  .menu__burger.active > span {
    background-color: #000548;
  }

  .header-adaptive__menu.active {
    transform: translateX(0);
  }

  .menu__link {
    font-size: 20px;
    line-height: 30px;
    color: #000548;
  }

  .header__inner {
    margin-top: 68px;
  }

  .header__title {
    font-size: 93px;
    line-height: 109px;
  }
}

@media (max-width: 675px) {
  .header__inner {
    gap: 12px;
    margin-top: 60px;
  }

  .header__title {
    font-size: 41px;
    line-height: 48px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 564px) {
  .header__logo {
    max-width: 200px;
    height: 47px;
  }

  .header-mobile__nav {
    justify-content: space-between;
    padding: 29px 0px 40px 0px;
  }

  .header__menu {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
  }

  .header__menu .menu__item {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .header {
    height: 475px;
  }
}

@media (max-width: 320px) {
  .header-mobile__container {
    padding: 16px 10px;
  }

  .header-mobile__nav {
    margin: 10px;
  }

  .header-mobile__container .header__nav-top {
    margin: 10px;
  }
}

/* -------- END -------- */

/* FOOTER */

.footer__top {
  display: flex;
  gap: 75px;
  padding: 40px 0px;
  border-top: 1px solid rgba(65, 65, 65, 0.1);
  border-bottom: 1px solid rgba(65, 65, 65, 0.1);
}

.footer__top-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  max-width: 245px;
  width: 100%;
  height: 57px;
}

.footer__logo img {
  height: 100%;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 115px;
}

.footer__nav-inner {
  display: flex;
  column-gap: 62px;
}

.footer__nav-inner .footer__nav-list {
  gap: 24px;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__nav-title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__list-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

.products-link li:nth-child(1) .footer__list-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #85ccef;
}

.products-link li:nth-child(2) .footer__list-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #4273d9;
}

.footer__nav-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__contacts-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__contacts-position {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__phones {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer__mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4273d9;
}

.footer__mail img {
  width: 28px;
  height: 28px;
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__socials-link {
  display: flex;
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.footer__copy {
  font-weight: 600;
}

.footer__policy,
.footer__policy-mob {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #2a2a2a;
  opacity: 0.3;
}

.footer__policy-mob {
  display: none;
}

.footer__company a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__company img {
  width: 28px;
  height: 27px;
}

@media (max-width: 1024px) {
  .footer__top {
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;
  }

  .footer__top-inner {
    flex-direction: row;
    align-items: flex-end;
  }
}

@media (max-width: 675px) {
  .footer__nav {
    gap: 50px;
  }
}

@media (max-width: 579px) {
  .footer__top {
    gap: 40px;
  }

  .footer__logo {
    align-self: center;
  }

  .footer__nav {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .footer__nav-inner .footer__nav-list {
    gap: 16px;
  }

  .footer__nav .footer__nav-col:nth-child(1) {
    gap: 24px;
  }

  .footer__nav .footer__nav-col:nth-child(2) {
    gap: 32px;
  }

  .footer__nav-list {
    gap: 16px;
  }

  .footer__list-link {
    font-size: 14px;
    line-height: 21px;
  }

  .footer__nav-col {
    gap: 20px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin: 20px 0px 16px 0px;
  }

  .footer__policy {
    display: none;
  }

  .footer__policy-mob {
    display: flex;
  }
}

/* -------- END -------- */

/* SEO */

.seo {
  margin-top: 100px;
  margin-bottom: 100px;
}

.seo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seo__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  text-transform: uppercase;
}

.seo__title span {
  font-style: italic;
}

.seo__title-2 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
}

.seo__title-3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}

.seo__text-wrapper {
  display: flex;
  gap: 28px;
}

.seo__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.seo__link {
  font-weight: 600;
  color: #85ccef;
}

.seo__text-hidden {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seo__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.seo__list {
  max-width: 50%;
  width: 100%;
}

.seo__list li {
  list-style: inherit;
  list-style-position: inside;
}

.seo__text-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.seo__text-wrapper ul li::marker {
  color: #4273d9;
}

@media (max-width: 768px) {
  .seo__text-wrapper {
    flex-direction: column;
  }

  .seo__list {
    max-width: 100%;
  }
}

@media (max-width: 564px) {
  .seo__title {
    font-size: 24px;
    line-height: 36px;
  }

  .seo__title-2 {
    font-size: 20px;
    line-height: 24px;
  }

  .seo__title-3 {
    font-size: 16px;
    line-height: 20px;
  }
}

/* -------- END -------- */

/* CONTACTS */

.contacts {
  margin-top: 100px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts__inner-wrapper {
  display: flex;
}

.contacts__adress {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.contacts__socials {
  display: flex;
  gap: 20px;
}

.contacts__socials-link {
  display: flex;
}

.contacts__map {
  /* max-width: 944px;
  width: 100%;
  height: 358px;
  background-color: #d9d9d9; */
}

@media (max-width: 768px) {
  .contacts__adress {
    justify-content: flex-start;
    column-gap: 45px;
    row-gap: 24px;
  }

  .contacts__adress a {
    font-size: 20px;
    line-height: 30px;
  }

  .contacts__adress .footer__address {
    max-width: 300px;
    width: 100%;
  }

  .contacts__adress .footer__mail {
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 564px) {
  .contacts__inner {
    gap: 32px;
  }

  .contacts__adress {
    row-gap: 20px;
  }

  .contacts__adress a {
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__adress .footer__address,
  .contacts__adress .footer__mail {
    max-width: 100%;
  }

  .contacts__socials {
    margin-top: 4px;
  }
}

/* -------- END -------- */

/* PREVIEW */

.preview {
  margin-top: 100px;
}

.preview-slider__pagination {
  position: initial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.preview-slider__pagination .swiper-pagination-bullet {
  background: #e0e0e0 !important;
  height: 10px !important;
  width: 10px !important;
}

.preview-slider__pagination .swiper-pagination-bullet-active {
  background: #85ccef !important;
}

.preview-slider__btn-next {
  position: relative;
  width: 18px !important;
  height: 18px !important;
  display: block;
  margin-top: -12px !important;
  background: url('../images/icons/icon_arrow-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 11;
}

.preview-slider__btn-prev {
  position: relative;
  width: 18px !important;
  height: 18px !important;
  display: block;
  margin-top: -12px !important;
  background: url('../images/icons/icon_arrow-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  border: none;
  cursor: pointer;
  z-index: 11;
}

.preview__slider {
  margin-top: 40px;
}

.preview__slider-nav {
  position: inherit;
  left: 50%;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.preview__slide {
  height: 100%;
  position: relative;
}

.preview__inner {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0px 34px 18px 28px;
  transform: scale(0);
}

.preview__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.preview__subtitle {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.4;
}

.preview__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.preview__img {
  height: 100%;
  display: flex;
}

.preview__img img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .preview .title {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
  }

  .preview .container {
    margin: 0 auto;
  }
}

@media (max-width: 740px) {
  .preview .container {
    margin: 0px 40px;
  }

  .preview__inner {
    margin: 0px 11.5px 36px 11.5px;
  }

  .preview__text {
    margin-top: 16px;
  }
}

@media (max-width: 425px) {
  .preview__slider {
    margin-top: 24px;
  }

  .preview .title {
    max-width: 295px;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }
}

/* -------- END -------- */

/* COMPANY */

.company {
  margin-top: 100px;
}

.company__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -165px;
}

.company__wrapper .title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  text-transform: uppercase;
  color: #ffffff;
}

.company__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 18px;
}

.company__list-item {
  width: 221px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(42, 42, 42, 0.1);
  background-color: #fff;
}

@media (max-width: 768px) {
  .company__wrapper .title {
    font-size: 36px;
    line-height: 54px;
  }

  .company__list {
    column-gap: 14px;
  }

  .company__list-item {
    width: 212px;
  }
}

@media (max-width: 564px) {
  .company__wrapper {
    gap: 24px;
    margin-top: -100px;
  }

  .company__wrapper .title {
    font-size: 24px;
    line-height: 36px;
  }

  .company__list {
    column-gap: 20px;
    row-gap: 12px;
  }

  .company__list-item {
    width: 137px;
    height: 74px;
  }

  .company__list-item img {
    padding: 0px 10px;
  }
}

/* -------- END -------- */

/* FEEDBACK */

.feedback {
  margin-top: 100px;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.feedback__top {
  display: flex;
  gap: 73px;
}

.feedback__description,
.feedback__description-mob {
  max-width: 567px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
  opacity: 0.8;
}

.feedback__description-mob {
  display: none;
}

.feedback__description p > span,
.feedback__description-mob p > span {
  color: #4273d9;
  font-style: italic;
}

.feedback__description p:nth-child(2) {
  align-self: flex-end;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.feedback__form-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.feedback__form-text span {
  font-weight: 600;
  font-style: italic;
}

.feedback__form-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feedback__container-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.feedback__container-checkbox span {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
}

.feedback__mail {
  font-weight: 500;
  font-size: 82px;
  line-height: 98px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #cecbcd;
  opacity: 0.8;
}

@media (max-width: 1020px) {
  .feedback__top {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .feedback__description,
  .feedback__description-mob {
    max-width: 100%;
  }

  .feedback__form-text {
    max-width: 506px;
    font-size: 20px;
    line-height: 30px;
  }

  .feedback__form {
    max-width: 100%;
    width: 100%;
    align-self: flex-start;
    gap: 40px;
  }

  .feedback__form-inner {
    gap: 20px;
  }

  .feedback__form-inner input[type='email'] {
    max-width: 100%;
    width: 100%;
  }

  .feedback__mail {
    font-size: 58px;
    line-height: 70px;
  }
}

@media (max-width: 740px) {
  .feedback__wrapper {
    gap: 28px;
  }

  .feedback__top {
    gap: 20px;
  }

  .feedback__description {
    display: none;
  }

  .feedback__description-mob {
    display: flex;
  }

  .feedback__description-mob p {
    font-size: 24px;
    line-height: 36px;
  }

  .feedback__form {
    gap: 32px;
  }

  .feedback__form-inner {
    gap: 12px;
  }

  .feedback__form-text {
    font-size: 14px;
    line-height: 21px;
  }

  .feedback__mail {
    font-size: 25px;
    line-height: 30px;
  }
}

/* -------- END -------- */

/* -------- PROGRAMM -------- */

.programm {
  margin-top: 100px;
}

.programm__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.programm__wrapper .title span {
  color: #2a2a2a;
}

.programm__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.programm__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.programm__list-item {
  width: 100%;
  display: grid;
  grid-template-areas:
    'number arrow'
    'text text';
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(65, 65, 65, 0.1);
}

.programm__list-item .btn-show__programm {
  padding: 4.5px 0px;
}

.programm__list-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  opacity: 0.8;
}

.programm__sublist {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programm__sublist li:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.programm__list-inner {
  grid-area: number;
  display: flex;
  gap: 20px;
}

.programm__item-number {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4273d9;
}

.programm__text {
  padding: 20px 0px 0px 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.active-title .programm__list-title {
  color: #4273d9;
}

.programm__list-item .btn-show__programm {
  grid-area: arrow;
}

@media (max-width: 768px) {
  .programm__wrapper .title {
    font-size: 36px;
    line-height: 54px;
  }
  .programm__list-item .btn-show__programm {
    width: 50px;
  }

  .programm__list-item {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 740px) {
  .programm__wrapper .title {
    font-size: 36px;
    line-height: 54px;
  }
}

@media (max-width: 564px) {
  .programm__wrapper .title {
    font-size: 24px;
    line-height: 36px;
  }
}

/* END */

/* ADVANTAGES */

.advantages {
  margin-top: -170px;
  position: relative;
  z-index: 101;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__modal {
  max-width: 620px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 40px 22.5px;
  background: #f5f5f5;
}

.advantages__modal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.advantages__modal-title {
  max-width: 570px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__modal-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.popup__button {
  max-width: 276px;
  width: 100%;
  display: flex;
  padding: 25.5px 62px;
  background-color: #4273d9;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease-in;
}

.popup__button:hover {
  background-color: #222a94;
}

.advantages__list {
  margin-top: 100px;
  display: flex;
  gap: 63px;
}

.advantages__list-item {
  display: flex;
  gap: 12px;
}

.advantages__list-item:nth-child(2) {
}

.advantages__list-number {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #4273d9;
}

.advantages__list-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.advantages__list-text span {
  font-weight: 600;
  font-style: italic;
}

@media (max-width: 768px) {
  .advantages {
    margin-top: -160px;
  }

  .advantages__modal {
    max-width: 563px;
  }

  .advantages__modal-title {
    font-size: 36px;
    line-height: 54px;
  }

  .advantages__list {
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }

  .advantages__list-item {
    align-items: flex-end;
  }

  .advantages__list-item:nth-child(2) {
    max-width: 100%;
  }

  .advantages__list-text {
    font-size: 36px;
    line-height: 43px;
  }
}

@media (max-width: 675px) {
  .advantages {
    margin-top: -140px;
  }

  .advantages__modal {
    min-width: 327px;
  }

  .advantages__modal-title {
    font-size: 24px;
    line-height: 36px;
  }

  .advantages__modal-subtitle {
    max-width: 243px;
  }

  .advantages__list {
    gap: 24px;
  }

  .advantages__list-item {
    align-items: flex-start;
  }

  .advantages__list-text,
  .advantages__list-number {
    font-size: 20px;
    line-height: 30px;
  }

  .advantages__list-item:nth-child(1) {
    max-width: 90%;
  }
}

/* END */

/* PROFILS */

.profils {
  margin-top: 100px;
  overflow: hidden;
}

.profils__wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.profils__top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* .profils__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
} */

.profils__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.profils__list-desc {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profils__list-item {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.profils__list-item:nth-child(1) {
  order: 1;
}

.profils__list-item:nth-child(2) {
  order: 3;
}

.profils__list-item:nth-child(3) {
  order: 5;
}

.profils__list-item:nth-child(4) {
  order: 2;
}

.profils__list-item:nth-child(5) {
  order: 4;
}

.profils__list-item.max-width {
  width: 100%;
  margin-bottom: 40px;
}

.profils__list-wrapper {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.profils__sublist-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profils__sublist-item p {
  width: min-content;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}

.profils__sublist-item span {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4273d9;
}

.profils__list-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  background: #f5f5f5 url(../images/icons/icon_arrow-blue.svg) no-repeat 18px
    center;
  background-position: right center;
  cursor: pointer;
  background-origin: content-box;
}

.profils__list-inner.border {
  background: #fff url(../images/icons/icon_arrow-blue.svg) no-repeat 18px
    center;
  padding: 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(65, 65, 65, 0.1);
  background-position: right 8px;
}

.profils__item-number {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4273d9;
}

.profils__list-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  opacity: 0.8;
}

.profils__sublist-inner {
  display: none;
}

.profils__sublist-inner.sublist-show {
  display: flex;
}

.profils__sublist {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
  column-gap: 80px;
}

.profils__img {
  display: none;
}

.profils__img.img-show {
  width: 336px;
  height: 309px;
  display: flex;
}

.profils__bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profils__gallery {
  display: flex;
  gap: 20px;
}

.profils__gallery-img {
  display: flex;
}

.profils__description {
  display: flex;
  gap: 28px;
}

.profils__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.profils__text-link {
  color: #4273d9;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .profils__sublist {
    column-gap: 45px;
  }

  .profils__bottom {
    gap: 24px;
  }

  .profils__description {
    flex-direction: column;
  }

  .profils__img {
    width: initial;
  }
}

@media (max-width: 740px) {
  .profils__sublist {
    column-gap: 40px;
  }

  .profils__list-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .profils__sublist-item p {
    font-size: 14px;
    line-height: 21px;
  }

  .profils__bottom {
    gap: 40px;
  }

  .profils__img {
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .profils__list {
    gap: 12px;
  }

  .profils__gallery {
    position: relative;
    right: 40px;
    width: max-content;
  }
}

/* END */

/* CALC */

.calc {
  margin-top: 100px;
}

.calc__title {
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  text-transform: uppercase;
  opacity: 0.8;
}

.calc__title span {
  color: #4273d9;
  font-style: italic;
}

.calc__gallery-mob {
  display: none;
}

.calc__gallery {
  display: flex;
  gap: 20px;
}

.calc__gallery-img {
  display: flex;
}

.calc__gallery-min {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.calc__gallery > .calc__gallery-img:nth-child(1),
.calc__gallery > .calc__gallery-img:nth-child(3) {
  max-width: 380px;
  width: 100%;
  height: 447px;
}

.calc__gallery-min > .calc__gallery-img:nth-child(1),
.calc__gallery-min > .calc__gallery-img:nth-child(2),
.calc__gallery-min > .calc__gallery-img:nth-child(3) {
  max-width: 141px;
  width: 100%;
  height: 141px;
}

.calc__popup-bg {
  display: flex;
  padding: 60px 0px 60px 0px;
  background-color: #4273d9;
  align-items: center;
  justify-content: center;
}

.calc__popup-inner {
  max-width: 710px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.calc__popup-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.calc__popup-subtitle {
  max-width: 660px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}

.calc__popup-bg .popup__button {
  display: inline-block;
  background-color: #fff;
  color: #4273d9;
}

@media (max-width: 768px) {
  .calc__title {
    font-size: 36px;
    line-height: 54px;
  }

  .calc__gallery {
    flex-direction: column;
    gap: 24px;
  }

  .calc__gallery-min {
    flex-direction: row;
    justify-content: space-between;
  }

  .calc__gallery > .calc__gallery-img:nth-child(1),
  .calc__gallery > .calc__gallery-img:nth-child(3) {
    max-width: 100%;
  }

  .calc__gallery-min > .calc__gallery-img:nth-child(1),
  .calc__gallery-min > .calc__gallery-img:nth-child(2),
  .calc__gallery-min > .calc__gallery-img:nth-child(3) {
    max-width: 185px;
  }

  .calc__gallery-img {
    height: auto !important;
  }

  .calc__gallery-img img {
    width: 100%;
  }

  .calc__popup-inner {
    max-width: 536px;
  }
}

@media (max-width: 564px) {
  .calc__inner .container {
    margin: 0 auto;
  }

  .calc__gallery {
    display: none;
  }

  .calc__gallery-mob {
    display: flex;
    justify-content: center;
  }

  .calc__title {
    max-width: 95%;
    font-size: 24px;
    line-height: 36px;
  }

  .calc__popup-title {
    font-size: 24px;
    line-height: 36px;
  }

  .calc__popup-subtitle {
    font-size: 14px;
    line-height: 21px;
  }

  .calc__popup-inner {
    margin: 0px 40px;
    gap: 24px;
  }
}

@media (max-width: 425px) {
  .calc .container {
    margin: auto;
  }

  .calc__title {
    margin-right: 40px;
    margin-left: 40px;
  }

  .calc__gallery-mob img {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .calc__title {
    margin-right: 10px;
    margin-left: 10px;
  }
}
