/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  color: #2a2a2a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}
/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    margin: 0 40px;
  }
}

@media (max-width: 325px) {
  .container {
    max-width: 100%;
    margin: 0 10px;
  }
}

/* -------- END -------- */

/* SLIDER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.slider__btn-prev {
  width: 20px;
  height: 20px;
  display: block;
  background: url('../images/icons/arrow-left.svg');
  border: none;
  cursor: pointer;
}

.slider__btn-next {
  width: 20px;
  height: 20px;
  display: block;
  background: url('../images/icons/arrow-right.svg');
  border: none;
  cursor: pointer;
}

/* slider content styles */

.custom__slider-img {
  width: 186px;
  height: 265px;
  border-radius: 3px;
  border: 1px solid rgba(4, 43, 70, 0.3);
}

.custom__slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.custom__slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

/* -------- END -------- */

/* ACCORDEON */

.accordeon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordeon__list li {
  list-style: inside;
  padding: 12px 20px;
}

.accordeon__li {
  position: relative;
  border-radius: 3px;
}

.accordeon__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon__btn {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10.5px 20px;
  font-size: 32px;
  cursor: pointer;
}

.accordeon__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  background-image: url('../images/icons/arrow-down.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn::after {
  transform: rotate(180deg);
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn {
  color: blue;
}

.accordeon__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

.accordeon-2__li {
  position: relative;
  border-bottom: 1px solid rgba(4, 43, 70, 0.2);
}

.accordeon-2__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon-2__btn {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10.5px 20px 10.5px 30px;
  font-size: 24px;
  cursor: pointer;
}

.accordeon-2__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  background-image: url('../images/icons/plus.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn::after {
  transform: rotate(180deg);
  background-image: url('../images/icons/minus.svg');
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn {
  color: #2a2a2a;
}

.accordeon-2__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .accordeon__btn {
    font-size: 24px;
  }

  .accordeon-2__btn {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .accordeon__btn {
    font-size: 17px;
    padding: 9px 60px 9px 20px;
  }

  .accordeon-2__btn {
    font-size: 13px;
    padding: 9px 60px 9px 30px;
  }

  .accordeon__list li {
    font-size: 13px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
}

/* -------- END -------- */

/* POPUP */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  padding: 30px;
  margin: 0px 20px;
  text-align: center;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
  background-color: #fff;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('../images/icons/close-1.svg') center/32px no-repeat;
  transition: all 0.3s ease-in-out;
}

.popup__close:hover {
  background: url('../images/icons/close-2.svg') center/32px no-repeat;
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  height: 742px;
  z-index: 100;
}

.header-mobile__container {
  display: none;
}

.header__background {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.header__background img {
  height: 100%;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__container .header__nav:nth-child(1) .header__menu {
  justify-content: flex-start;
}

.header__container .header__nav:nth-child(3) .header__menu {
  justify-content: flex-end;
}

.header__container
  .header__nav:nth-child(1)
  .header__menu
  .menu__item:nth-child(3)
  .menu__link,
.header__container
  .header__nav:nth-child(3)
  .header__menu
  .menu__item:nth-child(3)
  .menu__link {
  font-size: 20px;
  line-height: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}

.header__logo {
  max-width: 351px;
  width: 100%;
  height: 82px;
}

.header__logo img {
  height: 100%;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-top: 24px;
}

.header__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 132px;
  line-height: 155px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.header__title span {
  font-style: italic;
}

.header__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.header__subtitle span {
  font-style: italic;
  font-weight: 600;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 24px;
}

.menu__burger {
  display: none;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .header__container {
    display: none;
  }

  .header-adaptive__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateX(110%);
    transition: transform 0.5s;
    z-index: 2;
    background: #fff;
  }

  .header__menu {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0;
  }

  .header-mobile__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
  }

  .header-mobile__container .header-adaptive__menu {
    overflow: auto;
  }

  .header-mobile__container .header__nav-top {
    display: flex;
    align-items: center;
    padding: 16px 0px;
    margin: 0px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header-mobile__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 40px;
    padding: 40px 0px;
    gap: 32px;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 3;
  }

  .menu__burger:before {
    content: '';
    background-color: #d2f6ff;
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: #d2f6ff;
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: #d2f6ff;
    position: absolute;
    width: 38px;
    height: 3px;
    top: 11px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 13px;
    background-color: #000548;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #000548;
  }

  .menu__burger.active > span {
    background-color: #000548;
  }

  .header-adaptive__menu.active {
    transform: translateX(0);
  }

  .menu__link {
    font-size: 20px;
    line-height: 30px;
    color: #000548;
  }

  .header__inner {
    margin-top: 68px;
  }

  .header__title {
    font-size: 93px;
    line-height: 109px;
  }
}

@media (max-width: 675px) {
  .header__inner {
    gap: 12px;
    margin-top: 60px;
  }

  .header__title {
    font-size: 41px;
    line-height: 48px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 564px) {
  .header__logo {
    max-width: 200px;
    height: 47px;
  }

  .header-mobile__nav {
    justify-content: space-between;
    padding: 29px 0px 40px 0px;
  }

  .header__menu {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
  }

  .header__menu .menu__item {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .header {
    height: 475px;
  }
}

@media (max-width: 320px) {
  .header-mobile__container {
    padding: 16px 10px;
  }

  .header-mobile__nav {
    margin: 10px;
  }

  .header-mobile__container .header__nav-top {
    margin: 10px;
  }
}

/* -------- END -------- */

/* FOOTER */

.footer__top {
  display: flex;
  gap: 75px;
  padding: 40px 0px;
  border-top: 1px solid rgba(65, 65, 65, 0.1);
  border-bottom: 1px solid rgba(65, 65, 65, 0.1);
}

.footer__top-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  max-width: 245px;
  width: 100%;
  height: 57px;
}

.footer__logo img {
  height: 100%;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 115px;
}

.footer__nav-inner {
  display: flex;
  column-gap: 62px;
}

.footer__nav-inner .footer__nav-list {
  gap: 24px;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__nav-title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__list-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

.products-link li:nth-child(1) .footer__list-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #85ccef;
}

.products-link li:nth-child(2) .footer__list-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #4273d9;
}

.footer__nav-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__contacts-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__contacts-position {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__phones {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer__mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4273d9;
}

.footer__mail img {
  width: 28px;
  height: 28px;
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__socials-link {
  display: flex;
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.footer__copy {
  font-weight: 600;
}

.footer__policy,
.footer__policy-mob {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #2a2a2a;
  opacity: 0.3;
}

.footer__policy-mob {
  display: none;
}

.footer__company a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__company img {
  width: 28px;
  height: 27px;
}

@media (max-width: 1024px) {
  .footer__top {
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;
  }

  .footer__top-inner {
    flex-direction: row;
    align-items: flex-end;
  }
}

@media (max-width: 675px) {
  .footer__nav {
    gap: 50px;
  }
}

@media (max-width: 579px) {
  .footer__top {
    gap: 40px;
  }

  .footer__logo {
    align-self: center;
  }

  .footer__nav {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .footer__nav-inner .footer__nav-list {
    gap: 16px;
  }

  .footer__nav .footer__nav-col:nth-child(1) {
    gap: 24px;
  }

  .footer__nav .footer__nav-col:nth-child(2) {
    gap: 32px;
  }

  .footer__nav-list {
    gap: 16px;
  }

  .footer__list-link {
    font-size: 14px;
    line-height: 21px;
  }

  .footer__nav-col {
    gap: 20px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin: 20px 0px 16px 0px;
  }

  .footer__policy {
    display: none;
  }

  .footer__policy-mob {
    display: flex;
  }
}

/* -------- END -------- */
